#tweet-container {
  display: flex;
  flex-direction: column;
  background-color: #f4f1ec;
  margin: 32px 0;
  width: 92%;


}

article.tweet {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  padding: 20px 20px;
  margin-bottom: 10px;
  
}

article.tweet:hover {
  transform: translate(-3px,-3px);
  box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.07)
;

}

.user {
  display: flex;
  
}

.user p {
  margin: 10px 0px;
  align-self: center;
  padding: 0 5px;
  border: none;
}

.user img {
  max-width: 64px;
  max-height: 64px;
  padding: 5px;
  
}

.user img:hover {
  animation: rotation 1s linear;
}

.handle {
  color: lightgray;
  font-weight: 600;
}

article.tweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f1ec;
  background-image: none;
  color: #545149;
  height: 40px;
  padding-bottom: 10px;
  margin-top: 20px;
}

.tweet-content {
  padding-left: 20px;
}

article.tweet footer {
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  border-top: 3px solid black;
  padding: 5px 10px

}

.icons {
  color: #4056a1;
  padding: 0 2px;
  
}

article.tweet i:hover {
  color: #ffaf03;
  cursor: pointer;

}




@keyframes rotation {
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}